#header {
    background-image: url("../images/disc.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: "Sofia", sans-serif;
}

h1 {
    font-family: "Sofia", sans-serif;
    font-size: 55px;
    text-shadow: 3px 3px 3px #ababab;
    color: white;
}

label {
    color: white;
    font-size: 30px;
}

i {
    vertical-align: middle;
}

#lyrics-tab, #artists-tab, #recom-tab {
    border-color: transparent;
}

.scrollable {
    overflow-y: auto;
    white-space: pre-line;
    max-height: 320px;
    text-indent: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 5px;
}

.start {
    font-family: "Sofia", sans-serif;
    font-size: 55px;
    vertical-align: middle;
    color: black;
}

.artists {
    overflow-y: auto;
    max-height: 420px;
    text-indent: 10px;
    padding: 5px;
}

.artist {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 5px;
}


input {
    text-indent: 10px;
}

.card {
    font-family: "Timmana", sans-serif;
}


